.row {
    display: flex;
    }

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
}
p{
    display: inline-block; /* show on the same line */
    padding-right: 20px; /* small gap on the right of each header */
}
